header.header
    .header__cloumn
        i.fab.fa-youtube
    .header__cloumn
        ul
            li
                a(href="#") Join
            li
                a(href="#") Log In

                //- One single source of truth (한 곳에서만 정보를 보관.)